<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="ignoreFailedSources" value="true" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local" value="../../bin" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="https://api.nuget.org/v3/index.json">
      <package pattern="*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="GitHub.Cli" />
      <package pattern="GitHub.Cli.*" />
      <package pattern="gh" />
      <package pattern="gh.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
